/*Schrijf hier jouw CSS*/

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

header {
    flex-basis: 100px;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    order: 0;
}

main{
    display: flex;
    flex-basis: 800px;
    flex-direction: row;
}

article{
    flex-direction: column;
    flex-basis: 50vw;
    flex-grow: 1;
    flex-shrink: 1;
    order: 1;

}

nav{
    flex-direction: column;
    flex-basis: 25vw;
    flex-shrink: 0;
    flex-grow: 1;
    order: 2;
}



aside{
    flex-direction: column;
    flex-basis: 25vw;
    flex-shrink: 0;
    flex-grow: 1;
    order: 1;

}


footer{
    display: flex;
    flex-direction: row;
    flex-basis: 100px;
    flex-grow: 0;
    flex-shrink: 0;
    order: 3;

}